{
    "presets": [
        ["env", {
            "targets": {
                "browsers": "firefox >= 54",
                "node": "current"
            },
            "useBuiltins": true
        }],
        "stage-2"
    ]
}
