<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,width=device-width">
        <title>Maps Test</title>
        <link rel="stylesheet" href="/static/css/app.css" />
    </head>
    <body>
        <div id="main-container">
            <div id="main-row">
                <div id="map" class="col-sm-7 col-md-8 col-lg-9"></div>
                <div id="sidebar" class="col-sm-5 col-md-4 col-lg-3"></div>
            </div>
        </div>
        <script src="/static/js/app.js" async deferred></script>
    </body>
</html>
