<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,width=device-width">
        <title>Maps Test</title>
        <link rel="stylesheet" href="/static/css/app.css" />
    </head>
    <body>
        <div id="map-container">
            <div id="map"></div>
        </div>
        <div id="sidebar"></div>
        <script src="/static/js/app.js" async deferred></script>
    </body>
</html>
